body {
	background-image: url("side.png");
	background-repeat: repeat-y;
	background-color: #cbdbfc;
	
	
	padding: 10px;
	
	font-size: 18px;
}

.content {
	margin-left: 230px;
}

.nav {
	float: left;
	margin-left: 0;
}