body {
	background-image: url("./Images/side.png");
	background-repeat: repeat-y;
	background-color: #cbdbfc;
	
	padding: 10px;
	
	font-size: 18px;
}

.content {
	margin-left: 230px;
}

.nav {
	float: left;
	width: 100px;
	margin-left: 16px;
	margin-top: 70px;
}

.files {
	display: flex;
}

.files p {
	padding-right: 50px;
}

/* nav links */
.nav a:link, .nav a:visited {
	text-decoration: none;
	color: #e3cd1c;
}
.nav a:active { text-decoration: underline; }
.nav a:hover { color: blue; }

/* content links */
.files a:link, .files a:visited {
	text-decoration: none;
	color: green;
}
.files a:active { text-decoration: underline; }
.files a:hover { color: blue; }