ul {
	list-style-type: none;
	
	margin: 0px;
	padding: 0px;
	
	
	overflow: hidden;
}

li {
	float: left;
}

li a {
	display: block;
	padding: 8px;
	background-color: #fcbc55;
}

body {
	background-color: #fce694;
}

h1 {
	margin-left: 10px;
}

h2, h3 {
	margin-left: 20px;
}

p {
	margin-left: 30px;
}

.header h1 {
	background-color: #05c6fc;
}

.imge img {
	width: 25%;
}

a:visited, a:link {
	color: blue;
	text-decoration: underline;
}